body {
    background-color: black;
}
table.lgray {
    width: 100%;
}

.lgray a {
    display: block;
    text-decoration: none;
    background-image: linear-gradient(#9b5e0e, #191512);
    padding: 10px;
    color: #e5c268;
    border: 3px solid #191512;
    border-bottom: none;
    text-shadow: 0 3px 7px rgba(0, 0, 0, 0.952);
}
.lgray a:hover {
    background: #191512;
    /* border-color: yellow;
    */
}
header {
    background: #191512;
    font-style: italic;
    text-align: center;
    color: #e5c268;
    font-size: 100px;
    padding: 20px;
    text-shadow: 0 1px 5px #9b5e0e;
}

.leftaside a {
    display: block;
    text-decoration: none;
    background-image: linear-gradient(#e5c268, #191512);
    padding: 10px;
    color: #000000;
    border: 3px solid #191512;
    border-bottom: none;
    text-shadow: 0 3px 7px #9b5e0e;
    /* margin-right: 2%;*/
}

.leftaside a:hover {
    background: #191512;
    color: #e5c268;
    /* border-color: yellow;*/
}
.leftaside {
    float: left;
    width: 15%;
    position: relative;
}
.rightaside a {
    display: block;
    text-decoration: none;
    background-image: linear-gradient(#191512, #9b5e0e);
    padding: 10px;
    color: #e5c268;
    border: 3px solid #191512;
    border-bottom: none;
    text-shadow: 0 3px 7px rgba(0, 0, 0, 0.952);
}
.rightaside {
    float: right;
    width: 15%;
    position: relative;
}
.rightaside a:hover {
    background: #191512;
    /* border-color: yellow;*/
}
h2 {
    font-size: 30px;
    color: wheat;
}
p {
    color: #e5c268;
}
article.art1 {
    background: rgba(90, 90, 90, 0.479);
    width: 23%;
    height: 20%;
    /*margin-left: 16%;*/
    /*margin: 1%;*/
    float: left;
    margin-left: 0.25%;
    margin-top: 0.25%;
    padding: 1%;
}
article.art2 {
    background: rgba(90, 90, 90, 0.479);
    width: 23%;
    height: 20%;
    /* margin-left: 36%;*/
    padding: 1%;
    float: left;
    margin-left: 0.25%;
    margin-top: 0.25%;
}
article.art3 {
    background: rgba(90, 90, 90, 0.479);
    width: 23%;
    height: 20%;
    /* margin-left: 36%;*/
    padding: 1%;
    float: left;
    margin-left: 0.25%;
    margin-top: 0.25%;
}
.rightaside2 a {
    display: block;
    text-decoration: none;
    background-image: linear-gradient(#191512, rgb(121, 121, 121));
    padding: 10px;
    color: #e5c268;
    border: 3px solid #191512;
    border-bottom: none;
    text-shadow: 0 3px 7px rgba(0, 0, 0, 0.952);
}
.rightaside2 {
    float: right;
    width: 15%;
    position: relative;
}
.rightaside2 a:hover {
    background: #191512;
    /* border-color: yellow;*/
}
